@model TeamCode.Models.ViewModels.UserToProjectsViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Add user to Project</h2>

@* @using (Html.BeginForm())*@
@using (Html.BeginForm("Create", "UserToProjects", FormMethod.Post))
        {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ide)
        @Html.HiddenFor(m => m.projectId)
    @*    @Html.HiddenFor(m => m.projectId, new { id = ViewContext.RouteData.Values["ID"] })*@
    
    <div class="form-group">
        @Html.LabelFor(m => m.userId, htmlAttributes: new { @class = "email-label control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.userId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationSummary()
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewContext.RouteData.Values["ID"] })
</div>
