@model IEnumerable<TeamCode.Models.ViewModels.UserToProjectsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@using (Html.BeginForm("addUserToProject", "UserToProjects", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.userId)
        @Html.ValidationMessageFor(model => model.
        <button type="submit">Subscribe</button>
    }*@
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
        <p>
            Username: @Html.TextBox("SearchString")<br/>
            <input type="submit"value="Search"/>
        </p>
    }
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<script>
    $(function () {
        $("#searchBtn").click(function () {
            window.location.assign("TeamCode/Views/MyProjects/Index.cshtml");
        })
    })
</script>