@model IEnumerable<TeamCode.Models.Entities.UserToProjects>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.ProjectName</h2>
<p>Owner: @ViewBag.ProjectOwner</p>

<p>
    <a href="@Url.Action("Create", "UserToProjects", new { id = ViewContext.RouteData.Values["ID"] })">
        <img class="AddUserToProject" src="~/img/add-user.png" alt="addToProj"/>
        @Html.ActionLink(" ", "Create", new { id = ViewContext.RouteData.Values["ID"] })
        
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.Email)
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "UserToProjects", new { id = item.id })">
                            <img class="DeleteUserIcon" src="~/img/removeUser.png" alt="DeleteUser"/>
                    </td>
                </tr>
            }

        </table>

        <script>
            $(function () {
                $("#searchBtn").click(function () {
                    window.location.assign("TeamCode/Views/MyProjects/Index.cshtml");
                })
            })
        </script>
