@model List<TeamCode.Models.Entities.File>

@{
    ViewBag.Title = "Index";
}

<div>
    <a href='@Url.Action("Index","UserToProjects", new { id = ViewContext.RouteData.Values["ID"]})'>
        <img class="multiIcon" src="~/img/multipleIcon.png" alt="multi"/>
    </a>
    <h2>@ViewBag.ProjectName</h2>
    <p>Owner: @ViewBag.ProjectOwner</p>
</div>
    

<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <a href='@Url.Action("CreateFile","MyFiles", new { id = ViewContext.RouteData.Values["ID"]})'>
            <img class="addFile" src="~/img/addFile.jpg" alt="add" />
        </a>
        <div class="caption">
            <h3>New File</h3>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    string shortTitle = (item.fileName.Length + 3) > 17 ? item.fileName.Substring(0, 17) + ".." : item.fileName + ".js";
    <div class="fileTable col-sm-6 col-md-3">
        <div class="thumbnail">
            <div class="editDeleteFile">
                <a href='@Url.Action("DeleteFile", new { id = item.id })' onclick="return confirm('Are you sure you wish to delete this project?');">
                    <img class="Trash" src="~/img/Delete.png" alt="trash"/>
                </a>
                <a href="@Url.Action("Edit", "MyFiles", new { id = item.id })">
                    <img class="editImg" src="~/img/editsvg.png" alt="pencil"/>
                </a>
            </div>
            <a href='@Url.Action("Index","CodeWrite", new { id = item.id })' class="fileImg">
                <img class="File" src="~/img/file.png" alt="file"/>
            </a>
            <div class="caption">
                <h3>@shortTitle</h3>
            </div>
        </div>
    </div>
}
