@model List<TeamCode.Models.Entities.File>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.ProjectName</h2>
<p>Owner: @ViewBag.ProjectOwner</p>

<p>List of My Files</p>


    <a href='@Url.Action("CreateFile","MyFiles", new { id = ViewContext.RouteData.Values["ID"]})'>
        <img src="http://img.freepik.com/free-icon/text-file-add-outlined-interface-button_318-74517.jpg?size=338&ext=jpg" style="width: 66px; height: 66px;" />
    </a>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Index","CodeWrite", new { id = item.id })'>
                    <img alt="file" src="/../file.png" style="width: 66px; height: 66px;" />
                </a>
                @*@Html.DisplayFor(modelItem => item.id)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileName)@Html.DisplayFor(modelItem => item.fileType)
            </td>
            <td>
                @*<div class="btn-group btn-group-sm" role="group" aria-label="...">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>*@
            </td>
        </tr>
    }

</table>

