@model List<TeamCode.Models.Entities.File>

@{
    ViewBag.Title = "Index";
}
<div>
    <a href='@Url.Action("Index","UserToProjects", new { id = ViewContext.RouteData.Values["ID"]})'>
        <img src="~/img/multipleIcon.png" style="width: 66px; height: 66px; float: right; position: relative; top: -20px;" />
    </a>
    <h2>@ViewBag.ProjectName</h2>
    <p>Owner: @ViewBag.ProjectOwner</p>
    

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href='@Url.Action("CreateFile","MyFiles", new { id = ViewContext.RouteData.Values["ID"]})'>
                <img src="~/img/addFile.jpg" style="width: 66px; height: 66px;" />
            </a>
            <div class="caption">
                <h3>New File</h3>
                <div>

                </div>
            </div>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="fileTable col-sm-6 col-md-3">
        <div class="thumbnail">
            <a href='@Url.Action("Index","CodeWrite", new { id = item.id })' class="fileImg">
                <img alt="file" src="~/img/file.png" style="width: 66px; height: 66px;" />
            </a>
            <div class="caption">
                <h3>@Html.DisplayFor(modelItem => item.fileName)</h3>
                <div class="editImg">
                    <a href="@Url.Action("Edit", "MyFiles", new { id = item.id })">
                        <img alt="project" src="~/img/editsvg.png" style="width: 33px; height: 33px;" />
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
}


