@model IEnumerable<TeamCode.Models.Entities.Project>
@using TeamCode.Helpers;
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Message != null)
{
    <div class="form-horizontal text-center">
        <h2 class="text-danger">@ViewBag.Message</h2>
        <div>
            @Html.ActionLink("Back to Projects", "Index")
        </div>
    </div>
}
else
{
    <h2>My Projects</h2>
    <div>
        <h3>@Html.ActionLink("Project's shared with me", "Shared")</h3>
    </div>
    <div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href='@Url.Action("CreateProject", "MyProjects")'>
                    <img class="addFolder" src="~/img/addFolder.png" alt="addProject" />
                </a>
                <div class="caption">
                    <h3>New Project</h3>
                </div>
            </div>
        </div>

        @foreach (var item in Model)
        {
            string shorTitle = item.projectName.Length > 12 ? item.projectName.Substring(0, 12) + ".." : item.projectName;
            <div class="projectTable col-sm-6 col-md-3">
                <div class="thumbnail">
                    <div class="editDeleteProject">
                        <a href='@Url.Action("DeleteProject", new { id = item.id })' onclick="return confirm('Are you sure you wish to delete this project?');">
                            <img class="Trash" src="~/img/Delete.png" alt="delete"/>
                        </a>
                        <a href="@Url.Action("Edit", "MyProjects", new { id = item.id })">
                            <img class="editImg" src="~/img/editsvg.png" alt="edit"/>
                        </a>
                    </div>
                    <a href='@Url.Action("Index", "MyFiles", new { id = item.id })' class="folderImg">
                        <img class="folderImg" src="~/img/folder.png" alt="project" />
                    </a>
                    <div class="caption">
                        <h3>@shorTitle</h3>
                    </div>
                </div>
            </div>
        }
    </div>
}



