@model TeamCode.Models.Entities.File

@{
    ViewBag.Title = "Index";
}

@*@using (Html.BeginForm("SaveCode", "CodeWrite", new { id = ViewBag.Code }, FormMethod.Post))*@
@using (Html.BeginForm("SaveCode", "CodeWrite", FormMethod.Post))
    {
    @Html.HiddenFor(m => m.content, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.id)
   @* @Html.HiddenFor(m => m.fileName, new { @Value = @ViewBag.documentID })
       @Html.HiddenFor(m => m.fileType)
       @Html.HiddenFor(m => m.user)
       @Html.HiddenFor(m => m.project)*@
    @*@< a href = '@Url.Action("SaveCode","CodeWrite")' >


             < img class="editorSave" src="~/img/save.png" style="width: 33px; height: 33px;" />
        </a>*@
    <input type="submit" value="Save code" />
}

<div id="editor">
    @ViewBag.Code
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>
    @*@Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js")*@

    @*SignalR connection*@
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>

    var documentID = @ViewBag.documentID;

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    $("form").submit(function() {
        $("#hidden_editor").val(editor.getSession().getValue());
    });

    var codeHub = $.connection.codeHub;
    var silent = false;

    codeHub.client.onChange = function (changeData) {
        console.log(changeData);

        silent = true;
        editor.getSession().getDocument().applyDelta(changeData);
        silent = false;
    };

    $.connection.hub.start().done(function () {

        codeHub.server.joinDocument(documentID);

        editor.on("change", function (obj) {
            if (silent) {
                return;
            }
            console.log(obj);
            codeHub.server.onChange(obj, documentID);
        });
    });

    </script>
}