@model TeamCode.Models.FileViewModel

@{
    ViewBag.Title = "Index";
}

<h2 class="codeWriteH2">@ViewBag.fileName@ViewBag.fileType</h2>

@using (Html.BeginForm("SaveCode", "CodeWrite", FormMethod.Post))
{
    @Html.HiddenFor(m => m.content, new { @id = "hidden_editor" })
    @Html.HiddenFor(m => m.id)
    @Html.HiddenFor(m => m.fileType, new { @Value = ViewBag.fileType })
    @Html.HiddenFor(m => m.projectid, new { @Value = ViewBag.projectID })
    @Html.HiddenFor(m => m.userid, new { @Value = ViewBag.userID })
    @Html.HiddenFor(m => m.fileName, new { @Value = ViewBag.fileName})
    <input type="submit" value="Save code" />
}

<div id="editor">@ViewBag.Code</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript" charset="utf-8"></script>

    @*SignalR and Ace editor connection*@
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>

    <script>

    var documentID = @ViewBag.documentID;

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    $("form").submit(function() {
        $("#hidden_editor").val(editor.getSession().getValue());
    });

    var codeHub = $.connection.codeHub;
    var silent = false;

    codeHub.client.onChange = function (changeData) {
        console.log(changeData);

        silent = true;
        editor.getSession().getDocument().applyDelta(changeData);
        silent = false;
    };

    $.connection.hub.start().done(function () {

        codeHub.server.joinDocument(documentID);

        editor.on("change", function (obj) {
            if(silent) {
                return;
            }
            codeHub.server.onChange(obj, documentID);
        });
    });

    </script>
}